<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🍿 PopcornDB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">

    <style>
      .test{
        border-radius: 10px;
        overflow: hidden;
      }
    </style>
    

  </head>
  <body class="text-bg-dark">
    <nav class="navbar navbar-dark navbar-expand-lg  fixed-top blur">
      <div class="container">
        <a class="navbar-brand" href="/">
          🍿 <b>PopCorn</b> <span class="rounded p-1 text-dark" style="background-color: rgb(227, 101, 101);" ><b>Reviews</b></span>
        </a>
        
        
        <div class="d-flex justify-content-end">
          <form action="/search" method="get" >
            <input type="search" placeholder="search" class="form-control me-2 search" name="movie_id">
            {% if user %}
            <input type="hidden" value="{{user.user_id}}">
            {%else%}
            <input type="hidden" value="None">
            {% endif %}
          </form>
          <ul class="navbar-nav ms-3">
            {% if user %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
              </a>
              <ul class="dropdown-menu">
                <li >
                  <a class="dropdown-item" href="/profile/u/{{user.user_id}}">
                    <i class='bx bx-food-tag'></i>
                    Profile
                  </a>
                </li>
                <li >
                  <a class="dropdown-item" href="/login">
                    <i class="bx bx-power-off"></i>
                    logout
                  </a>
                </li>
              </ul>
            </li>
            {%else%}
                <a class="nav-link" href="/login">
                  <i class='bx bxs-user'></i> Sign in
                </a>
            {%endif%}
          </ul>
        </div>
      </div>
    </nav>

    <div class="hero-wrapper pt-5">
      <div class="hero-bg" style="background-image: url('{{news[-2].image_url}}');"></div>
      <div class="container hero">
        <div class="row g-0 test">
              <div class="col-6 left-rounded">
                <div id="carouselExampleCaptions" class="carousel slide">
                
                  <div class="carousel-inner">
                    <div class="carousel-item active ">
                          <a href="{{news[3].href}}">
                          <img class="d-block news" src="{{news[3].image_url}}" alt="First slide">
                          <div class="carousel-caption d-none d-md-block news-overlay">
                            <h5 class="text-truncate">{{news[3].title}}</h5>
                            <p class="text-truncate muted"><small>{{news[4].desc}}</small></p>
                          </div>
                          </a>
                        </div>

                    {% for item in news[:-2] %}
                          <div class="carousel-item">
                            <a href="{{item.href}}">
                            <img src="{{item.image_url}}" class="d-block news" alt="...">
                            <div class="carousel-caption d-none d-md-block news-overlay">
                              <h5 class="text-truncate">{{item.title}}</h5>
                              <p class="text-truncate muted"><small> {{item.desc}} </small></p>
                            </div>
                            </a>
                          </div>
                    {% endfor %}
                    
                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>

                </div>
              </div>
              <div class="col-3">
                <a href="{{news[-2].href}}" style="text-decoration: None;">
                  <div class="card text-light black ">
                    <img class="card-img-top news-image" src="{{ news[-2].image_url }}" alt="Card image">
                    <div class="card-body news-overlay">
                      
                        <h5 class="card-title text-truncate">{{ news[-2].title }}</h5>
                        <p class="card-text text-truncate muted"><small>{{ news[-2].desc }}</small></p>
                      
                    </div>
                  </div>
                </a>     
              </div>

              <div class="col-3">
                <a href="{{news[-1].href}}" style="text-decoration: None;">
                  <div class="card text-light black">
                    <img class="card-img-top news-image" src="{{ news[-1].image_url }}" alt="Card image">
                    <div class="card-body news-overlay">
                      
                        <h5 class="card-title text-truncate">{{ news[-1].title }}</h5>
                        <p class="card-text text-truncate muted"><small>{{ news[-1].desc }}</small></p>
                      
                    </div>
                  </div>
                </a>     
              </div>
        </div>
      </div>
    </div>

    <div class="container-fluid ps-5 pb-5 black">
      <div class="container pt-5">
        <span style="white-space: pre;" class="text-warning">W H A T    T O    W A T C H</span>
      </div>

      {% if watchlist|length != 0 %}
      <section class="text-light">
        <div class="container mt-3">
            <h4 class="text mb-4">
                From Your Watchlist
                <a href="#imdb-top-10" class="text-light">
                    <i class='bx bx-right-arrow-alt'></i>
                </a>
            </h4>
      
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 overflow-auto flex-nowrap" id="movies-container">
                {% for item in watchlist %}
              <div class="col">
     
            
                  <a href="/m/{{ item.index }}" class="text-decoration-none">
                  
                  <div class="card  text-light black-lite h-100">
                    <img src="{{item.image_url}}" class="card-img-top" alt="Movie 1">
                    <div class="card-body">
                      <p class="card-text text-truncate" style="max-width: 100%;">{{ item.title }}</p>
                      <p class="card-text small">🍿 {{item.rating}}</p>
                    </div>
                  </div>
                </a>
              </div>
                {% endfor %}
            </div>
        </div>
      </section>
      
      {% endif %}

      <section class="text-light">
        <div class="container mt-5">
            <h4 class="text mb-4">
                Top 10 on IMDb this week
                <a href="#imdb-top-10" class="text-light">
                    <i class='bx bx-right-arrow-alt'></i>
                </a>
            </h4>
      
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 overflow-auto flex-nowrap" id="movies-container">
                {% for item in topten %}
              <div class="col">

        
                <a href="/m/{{ item.index }}" class="text-decoration-none">
                
                  <div class="card  text-light black-lite h-100">
                    <img src="{{item.image_url}}" class="card-img-top" alt="Movie 1">
                    <div class="card-body ">
                      <p class="card-text text-truncate" style="max-width: 100%;">{{ item.title }}</p>
                      <p class="card-text small">🍿 {{item.rating}}</p>
                    </div>
                  </div>
                </a>
              </div>
                {% endfor %}
            </div>
        </div>
      </section>


      <div class="container mt-5 pt-5">
        <span style="white-space: pre;" class="text-warning">E X P L O R E   W H A T' S   S T R E A M I N G</span>
      </div>
      <div class="container mt-4">
        <div class="container my-4 ">
          <ul class="nav nav-tabs" id="ottTabs" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="nav-link active text-primary" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
              </li>
              {% for ott in unique_ott_list %}
              <li class="nav-item" role="presentation">
                  <button class="nav-link text-primary" id="{{ ott }}-tab" data-bs-toggle="tab" data-bs-target="#{{ ott }}" type="button" role="tab" aria-controls="{{ ott }}" aria-selected="false">{{ ott }}</button>
              </li>
              {% endfor %}
          </ul>
      
          <!-- Tab panes -->
          <div class="tab-content" id="ottTabsContent">
              <!-- All Tab -->
              <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 mt-2" id="movies-container">
                      {% for item in all[12:30] %}
                      <div class="col">
                        
                        
                        <a href="/m/{{ item.index }}" class="text-decoration-none">

                              <div class="card black-lite text-light h-100">
                                  <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
                                  <div class="card-body">
                                      <p class="card-text text-truncate" style="max-width: 100%;">{{ item.title }}</p>
                                      <p class="card-text small">🍿 {{ item.rating }}</p>
                                  </div>
                              </div>
                          </a>
                      </div>
                      {% endfor %}
                  </div>
              </div>
      
              <!-- OTT-specific Tabs -->
              {% for ott in unique_ott_list %}
              <div class="tab-pane fade" id="{{ ott }}" role="tabpanel" aria-labelledby="{{ ott }}-tab">
                  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 mt-2" id="movies-container-{{ ott }}">
                      {% for item in all %}
                      {% if item.ott == ott %}
                      <div class="col">
                        
                        
                        <a href="/m/{{ item.index }}" class="text-decoration-none">
                        
                              <div class="card black-lite text-light h-100">
                                  <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
                                  <div class="card-body">
                                      <p class="card-text text-truncate" style="max-width: 100%;">{{ item.title }}</p>
                                      <p class="card-text small">🍿 {{ item.rating }}</p>
                                  </div>
                              </div>
                          </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>

      </div>

    </div>
    <footer class="p-5">
        <span><small>© mtj</small></span>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>