      .navbar.blur {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(40px);
      background-color: rgba(0, 0, 0, 0.15);
    }

    .form-control {
          background: transparent;
          border-radius: 20px;
          border:#b5b5b5 1px solid;
          padding: 3px 30px;
      }

      .form-control::placeholder {
          color: #b5b5b5;
      }

      .form-control:focus {
          background-color: rgba(255, 255, 255, 0.052);
          border: none;
          color: #fefefe;
      
      }

      .black{
          background-color: black;
      }
      
      .black-lite{
        background-color: rgb(17, 17, 17);
      }

      .muted{
        color: #b5b5b5;
      }

      .ott-btn{
        width: 120px;
        height: 70px;
        padding: 15px;
        background-color: rgb(228, 228, 228);
        border-radius: 20px;
        margin-right: 10px;
        font-size:xx-large;
        font-weight: bolder;
        color: black;
      }

      .ott-btn:hover{
        background-color: white;
        scale: 1.03;
      }

  
        .hero-wrapper {
            position: relative; 
            background-color: rgba(0, 0, 0, 0.809);
        }

        .hero-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: cover;
            background-position: center;
            filter: blur(60px);
            -webkit-filter: blur(60px);
            
        }

        .hero {
            position: relative; /* Ensure content is positioned correctly */
            z-index: 1; /* Place content above blurred background */
            padding: 60px;
        }

        .news-overlay{
          padding: 15px;
          background-color: black;
          border-left: 2px red solid ;

        }

        .spotlight{
          padding: 25px;
          width:240px;
          height: 102px;
          margin-bottom: 10px;
        }

        .carousel-caption{
          text-align: left;
          position: relative;
          right: 0%;
          left: 0%;
          bottom: 0%;
          height: 88px;
        }

        .news-image{
          border-radius: 0px;
        }
        

        a{
          text-decoration: none;
        }

        .news{
          height: 314px;
        }

        .shadow {
          text-shadow: 1px 1px 10px black;
        }
  
        .black {
          background-color: black;
        }
  
        .black-lite {
          background-color: rgb(20, 20, 20);
        }
  
        .hero-wrapper {
          position: relative;
          background-color: rgba(0, 0, 0, 0.512);
        }
  
        .hero-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-size: cover;
          background-position: center;
          filter: blur(80px);
          -webkit-filter: blur(120px);
        }
  
        .hero {
          position: relative; /* Ensure content is positioned correctly */
          z-index: 1; /* Place content above blurred background */
          padding: 60px 100px;
        }
  
        .rating-box {
          padding: 5px 10px;
          width: 70px;
        }
  
        .stars {
          list-style-type: none;
          padding: 0;
          display: inline-block;
          font-size: 1.2rem;
        }
        .stars li {
          display: inline-block;
          cursor: pointer;
          color: #ffcc00;
          transition: color 0.3s;
        }
  
        .stars li:hover ~ li {
          color: white;
        }
  
        .rate {
          background-color: hsla(0, 0%, 0%, 0.313);
          padding: 30px;
          border-radius: 30px;
          border: None;
          color: #fefefeaa;
          margin-left: 15px;
        }
  
        .submit-rating {
          border-radius: 18px;
        }
  
        .tag {
          border: 1px solid rgba(255, 255, 255, 0.883);
          font-weight: lighter;
          color: rgba(255, 255, 255, 0.883);
          font-size: xx-small;
          border-radius: 20px;
          padding: 5px;
          margin-right: 5px;
        }
  
        .glass{
          background: transparent;
        }
  
        .crew{
          margin-top: 20px;
          background-color: transparent;
          color: white;
        }
  
        tr{
          border-bottom: 1px #b5b5b5 solid;
        }
        td,th{
          padding:10px ;
        }
        td{
          color: #b5b5b5;
        }
